{% extends "WorkHealth/base.html" %}

{% block title %}Survey{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Answer the Survey</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>How many hours do you sleep at night?</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <hr />

                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="radio">
                                    
                                    <label for="5h">
                                        <input type="radio" name="sleep" id="5h" value="5h" required>
                                        5 hours
                                    </label><br>
                                    
                                    <label for="6h">
                                        <input type="radio" name="sleep" id="6h" value="6h">
                                        6 hours
                                    </label><br>
                                    
                                    <label for="7h">
                                        <input type="radio" name="sleep" id="7h" value="7h">
                                        7 hours
                                    </label><br>

                                    <label for="8h">
                                        <input type="radio" name="sleep" id="8h" value="8h">
                                        8 hours
                                    </label><br>
                                </div>
                            </div>
                            
                            <hr />

                            <button type="submit" class="btn btn-info">
                                Submit
                            </button>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}