{% extends "WorkHealth/base.html" %}

{% block title %}Thanks{% endblock %}


{% block main %}

<div class="header-custom email-signup-thankyou">
    <div class="content">
      <div class="left-hole"></div>
      <div class="right-hole"></div>
      <div class="main-content">
        <h1>Success! Completed this week's survey</h1>
        <p>Thank you for participating, it means a lot to us, just like you do! We really appreciate you giving us a moment of your time.</p>
      </div>
  
    </div>
  </div>

{% endblock %}